h2,h3,td{
	text-align:center;
	}
	
th{
	background-color:grey;
	}
	
ul{
	margin-left:80px;
	}
	
caption{
	text-align:center;
	font-size:25px;
	}
	
table{
	margin-left:70px;
	margin-right:70px;
	}
	
#col1{
	width:100px;
	}

#col2{
	width:400px;
	}

#col3{
	width:750px;
	}