h2,h3,td{
	text-align:center;
	}
	
@font-face {
    font-family: rust;
    src: url("RedFive.otf");
    }
	
.redfive{
	font-family: rust;
	}
	
li{
	font-style: italic;
	}
	
th{
	background-color:grey;
	}
	
ul{
	margin-left:80px;
	}
	
caption{
	text-align:center;
	font-size:25px;
	}
	
table{
	margin-left:70px;
	margin-right:70px;
	}
	
#col1{
	width:100px;
	}

#col2{
	width:400px;
	}

#col3{
	width:750px;
	}