@font-face{
	font-family: kaushan;
	src: url("KaushanScript-Regular.otf");
	}

h1{
	text-align: center;
	font-family: kaushan;
	}
	
#footer{
	text-align:center;
	position:absolute;
	bottom:0;
	height:100px;
	width:100%;
	
	}
	
a{
	font-size:3;
	}