@font-face{
	font-family: kaushan;
	src: url("KaushanScript-Regular.otf");
	}

h1{
	text-align: center;
	font-family: kaushan;
	}
	
h5{
	text-align:center;
	}
	
html {
  position: relative;
  min-height: 100%;
	}

body {
  margin-bottom: 60px;
	}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	}	
	
.container{
	padding-bottom: 60px;
	}